*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.lst
target/tribies-admin-1.0/WEB-INF/classes/templates/views/index.html
target/classes/.netbeans_automatic_build
target/classes/templates/views/index.html
target/maven-archiver/pom.properties
target/tribies-admin-1.0/index.html
target/test-classes/.netbeans_automatic_build
